<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * GS ConfigurableProductReport
 *
 * @copyright Copyright (c) 2024 Gate-Software Sp. z o.o. (www.gate-software.com). All rights reserved.
 * @author    Gate-Software Practice Team
 * @author    sebastian.mazgaj@gate-commerce.com
 *
 * @package   GS_ConfigurableProductReport
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="GS_ConfigurableProductReport" setup_version="1.0.0"/>
</config>
