<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\Myapi\Api\Data\CustomInterface" type="Training\Myapi\Model\Custom" />
    <preference for="Training\Myapi\Api\CustomRepositoryInterface" type="Training\Myapi\Model\CustomRepository" />
</config>
